.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
  /* end of pre existing CSS */
 /* #2  */ 
body {
background-color: skyblue;
}
 /* #3  */ 
#igottabeme {
  font-family: arial, helvetica, sans-serif;
}
 /*  #4  */
.classy {
    margin-left: 10px;
}
 /*  #5  */
div {
  margin-bottom: 50px;
}
 /*  #6  */
span {
  width: 100px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  background-color: yellow;
}
 /*  #7  */
.a {
  height: 0px;
word-wrap: normal;
}

.b {
  display: block;
}
span.c{
  display:inline-block;
  height: 50px;
}
 /*  #8  */
img[alt="cat icon"] {
  position: fixed;
  bottom: 0;
right: 0;
}
 /*  #9  */
img[alt="dog icon"] {
  position: relative;
  right: 50px;
  bottom: 150px;
}
 /*  #10  */
#positionMe {
  background-color: orange;
}
img[alt="bird icon"] {
  position: relative;
  top: 50px;
  left: 250px;
  z-index: 1;
}
 /*  #11  */
nav {
  position:sticky;
  top: 0;
  background-color: green;
  opacity: 90%;
}
 /*  #13  */
input[type="text"].pinkey:focus {
  background-color: pink;
}
